* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: san-serif;
}

ul {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container-login {
    height: 100vh;
}

.banner-login {
    width: 60%;
    background: url('/assets/img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner-login::after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.form-login {
    width: 40%;
    padding: 30px;
    background-color: #0F172A;
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}


#img-logo {
    height: 100%;
}