* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: san-serif;
}


body {
    background-color: rgb(15, 23, 42);
}

ul {
    text-decoration: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
/* LOGIN */
.container-login {
    height: 100vh;
}

.banner-login {
    width: 60%;
    background: url('/assets/img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner-login::after {
    position: absolute;
    content: '';
    background: #0000004d;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.form-login {
    width: 40%;
    padding: 30px;
    background-color: rgb(15, 23, 42);
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}


#img-logo {
    height: 100%;
}
/* FIMLOGIN */


/* CADASTRO CLIENTE */

/* .container-cad {
    width: 100vw;
    height: 100vh;
    background: url('../img/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.container-cad::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(15, 23, 42, .9);
    position: absolute;
    top: 0;
    left: 0;
} */
/* FIM CADASTRO CLIENTE */